html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.main {
    display: flex;
    justify-content: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#connectServer {
    padding: 20px;
    border: 10px solid #3C5083;
    border-radius: 10px;
    z-index: 99 !important;
    max-width: 400px;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-brand img
{
    max-height: 100%;
}

#inputServer{
    margin-left: 22px;
}

.nav > li.dropdown.open {
    position: static;
}

.nav > li.dropdown.open .dropdown-menu {
        display: table;
        border-radius: 0px;
        width: 40%;
        text-align: center;
}

.dropdown-menu > li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

span.glyphicon-link {
    font-size: 2em;
}

@media screen and (max-width: 767px) {
    .dropdown-menu > li {
        display: block;
    }
}
