
html,
body {
  height: 100%;
}

body {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
 
}

.main {
    display: flex;
    justify-content: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control {
  margin-bottom: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#connectServer {
    display: block;
    padding: 20px;
    border: 10px solid #3C5083;
    border-radius: 10px;
    max-width: 400px;
}

.navbar-brand {
    margin: 0px;
    padding: 0px;
}

.navbar-brand > img{
    height: 150%; 
    padding: 0px; 
    width: auto; 
}
#inputServer{
    margin-left: 22px;
}

.nav > li.dropdown.open {
    position: static;
}

.nav > li.dropdown.open .dropdown-menu {
        display: table;
        border-radius: 0px;
        width: 40%;
        text-align: center;
}

.dropdown-menu > li {
    display: table-cell;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.span.glyphicon-link {
    font-size: 2em;
}

.row{
    padding-top: 5%;
    border: 1px black solid; 
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

.row > h3{
    margin: 0px auto;
}

.popup {
	position: absolute;
	background-color: #ccc;
	border: 1px solid #000;
	width: 300px;
	height: 200px;
	/* notice: margins are -(value/2) */
	margin-left: -150px;
	margin-top: -100px;
	top: 50%;
	background-color: gray;
	left: 50%;
	display: none;
}

#datasetPopupDiv{
	display: none; 
}

figure {
	display: inline-block;
	margin: 20px; /* adjust as needed */
}

figure img {
	vertical-align: top;
}
#loader {
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
figure figcaption {
	text-align: center;
}

table {
	display: block;
	overflow-x: auto;
	white-space: nowrap;
}

@media screen and (max-width: 767px) {
	.dropdown-menu > li {
        display: block;
    }
}



