{% load static %}

{% block body %}
<div class="tab-pane fade in active" id="connect" role="tabpanel">
	<div class="row">
		<h3> Connect To Server </h3>
		<hr/>
		{% if sessionInfo.connect == True and message.type == "success" %}
			<h4> Currently connected to {{sessionInfo.server}} as {{sessionInfo.username}}</h4>
		{% else %}
		<form method="POST" action=""  name="connectForm">
			{% csrf_token %}
			<div class="form-row">
				<div  class="form-group col-md-4">
					<input name="server" id="server" type="text" class="form-control" placeholder="Server" required autofocus>
				</div>
				<div  class="form-group col-md-4">
					<input name="username" id="username" type="text" class="form-control" placeholder="Username" required autofocus>
				</div>
				<div  class="form-group col-md-4">
				<input name="password" id="password" type="password" class="form-control" placeholder="Password" required autofocus>
				</div>
			</div>
				<div style="padding: 20px 0px">
					<div style="float:right">
						<button name="connectButton" id="connectServerConnectButton" data-toggle="tooltip" title="This connects to Plexos Connect" value="Connect&Button" type="submit" class="connect btn btn-primary" disabled="disabled">Connect</button>
					</div>
				</div>
			
</form>
		{% endif %}
	</div>
	<hr />
	<div class="row">
		<h3> Upload </h3>
		<hr />
		{% if sessionInfo.connect == True %}
		<form method="post" action="" name="uploadForm" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-row">
				{% for field in form  %}
				<div class="form-group col-md-5- col-md-offset-5">
					{{ field }}
				</div>
				{% endfor %}
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<div style="float:right">
						<button name="uploadButton" id="connectServerUploadButton" data-toggle="tooltip" title="This will upload the dataset to your plexos connect folder" value="Upload&Button" type="submit" class="connect btn btn-primary">Upload</button>
					</div>
				</div>
			</div>
		</form>
		{% endif %}
	</div>
	<hr />
	<div class="row" id="datasetDiv">
		<h3> Datasets </h3>
		<hr />
		<table>
			<tr>
				{% for dataset,versions in folder.items %}
				{% if dataset %}
				<td>
					<div>
						<a id="datasetPopupLink" onclick="displayDatasetDiv()">
							<figure>
								<img class="mb-4" src="{% static 'img/Spreadsheet-icon.png' %}" alt="" width="200" height="200">
								<figcaption>{{dataset|truncatechars:15}}</figcaption>
							</figure>
						</a>
						<div style="padding: 20px;">
							<form method="POST" action="" class="form-inline">
								{% csrf_token %}
								<p>
									<input style=" display: none" name="dataset" type="text"  class="form-control" value="{{dataset}}" required autofocus />
									<input style=" display: none" name="version" type="text"  class="form-control" value="{{versions|last}}" required autofocus />
								</p>
								<button name="downloadButton" data-toggle="tooltip" title="This will download the {{dataset}} dataset" value="download&Button" type="submit" class="connect btn btn-primary">Download</button>
								<button name="launchButton" data-toggle="tooltip" title="This will run the {{dataset}} dataset in plexos" value="launch&Button" type="submit" class="connect btn btn-primary">Launch</button>
							</form>
						</div>
					</div>
				</td>
				{% endif %}
				{% endfor %}
			</tr>
		</table>
	</div>
</div>
    <hr /> 
{% endblock %}
