{% load static %}

{% block body %}
<div class="tab-pane fade in show active" id="panel1" role="tabpanel">
	<div id="datasetInfo" class="popup">
		Some info for now
	</div>
    <div class="row">
        <h3> Connect To Server </h3>
        <hr />
        <form method="POST" action="" class="form-inline">
            {% csrf_token %}
            <p>
                <label for="inputServer">Server</label>
                <input style="width: 25%;" name="server" type="text" id="inputServer" class="form-control" placeholder={{ userServer }} required autofocus>
                <label for="inputPassword">Username</label>
                <input style="width: 25%" name="username" type="text" id="inputConnectPassword" class="form-control" placeholder={{userUsername}} required autofocus>
                <label for="inputPassword">Password</label>
                <input style="width: 25%" name="password" type="password" id="inputConnectPassword" class="form-control" placeholder="Password" required autofocus>
            </p>
            <div style="padding: 20px 0px">
                <label style="float:left"><input type="checkbox"> Remember me</label>
                <div style="float:right">
                    <button name="connectButton" id="connectServerConnectButton" value="Connect&Button" type="submit" class="btn btn-primary">Connect</button>
                    <!--<button id="connectServerCloseButton" onclick="hideConnectServerDiv()" type="button" class="btn btn-danger">Cancel</button>-->
                </div>
            </div>
        </form>
    </div>
    <hr />
	<div class="row" id="datasetDiv">
		<h3> Datasets </h3>
		<hr />
		{% for dataset,version in folder.items %}
		<script>
			var folderImg = document.createElement("img");
			$('#datasetDiv').append(`
				<span class="item" >
					<a href="." id="datasetDivLink"> 
						<img src={% static 'img/Spreadsheet-icon.png' %}  alt="" width="250" height="150">
					</a>
					<span class="caption"> {{dataset}} </span>
				</span>
			`)
		</script>
		{% endfor %}
	</div>
    <hr /> 
</div>
{% endblock %}
