{% extends 'base.html' %} 
{% load static %}

{% block body %}
<body class="text-center">
  <form class="form-signin" action="" method="POST">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/PLEXOS_2016_EE.png' %}" alt="" width="250" height="150">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      <p class="mt-5 mb-3 text-muted">&copy; Suite 120, 3013 Douglas Blvd, Roseville, CA 95661. United States of America. 2017-2018</p>
    </form>
  </body>
{% endblock %} 