{% extends 'base.html' %}
{% load static %}
{% load addstr %}

{% block body %}
<body>
    <div class="container">
        <header>
            <div class="navbar navbar-default navbar-fixed-top blue">
                <div class="container p-none">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle"
                                data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{% static '/img/PLEXOS_2016_EE.png' %}" alt="img" /></a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">
                            {% if user.is_authenticated %}
                            <li><a href="">Logout</a></li>
                            <li>
                                <a href=""
                                   class="p-r-none">Hello, {{user.username}}</a>
                            </li>
                            {% else %}
                            <li><a href="">Login</a></li>
                            <li><a href="" class="p-r-none">Sign Up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Connect</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Input Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Solution Files</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <img src="{% static '\img\LoadingBasketContents.gif' %}" id="loader" style="display:none"/ >
            {% if message %}
            {% include "messages/"|addstr:message.type|addstr:".html" with message=message.value %}
            {% endif %}
            

            <div class="tab-content card">
                {% include "solution.html" %}
                {% include "input.html" %}
                {% if userInfo %}
                {% include "connect.html" with userUsername=userInfo.Username userServer=userInfo.Server %}
                {% else %}
                {% include "connect.html" with userUsername="Username" userServer="Server" %}
                {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
